<!--ANCHOR-->
<a href="#main" class="page-anchor anchor">
    <svg class="icon-arrow-up"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-up"></use></svg>
    <span class="page-anchor__text">Наверх</span>
</a>

<!--FOOTER-->
<footer class="footer">
    <div class="footer__inner">
        
        <div class="footer__left">
            <small class="footer__copyright">
                <svg class="icon-adult"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-adult"></use></svg>
                &copy; Лизинг ревю» 2017-2018 Все права защищены.<br/>
                Полное или частичное копирование любых материалов сайта возможно только с письменного разрешения редакции журнала «ЛР». Нарушение авторских прав влечет за собой ответственность в соответствии с законодательством РФ. Зарегистрировано Федеральной службой по надзору в сфере связи, информационных технологий и массовых коммуникаций (Роскомнадзор) <br/>
                <a href="#">Свидетельство о регистрации</a>
            </small>
            
            <ul class="footer__links">
                <li class="footer__links-item"><a href="#">Правила обработки персональных данных</a></li>
                <li class="footer__links-item"><a href="#">Карта сайта</a></li>
            </ul>
        </div>
        
        <div class="footer__right">
            @@include('subscribe-form.html')
            
            <div class="footer__socials">
                <a href="#" class="footer__socials-link" target="_blank" rel="nofollow">
                    <svg class="icon-vk"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-vk"></use></svg>
                </a>
                <a href="#" class="footer__socials-link" target="_blank" rel="nofollow">
                    <svg class="icon-facebook"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-facebook"></use></svg>
                </a>
            </div>
        </div>
    </div>
</footer>

<!--STYLE-->
<link rel="stylesheet" href="css/style.css"/>

<!--JS-->
<script src="js/main.js"></script>
<script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
<script src="//yastatic.net/share2/share.js"></script>