<header class="header">
    <!--logo-->
    <div class="header__logo">
        <div class="header__logo-holder">
            <a class="header__logo-link" href="main.html">
                <img src="images/ui/logo.svg" width="118" height="47" alt="Лизинг Ревю"/>
            </a>
        </div>
    </div>
    
    <div class="header__mobile">
        <nav class="header__mobile-scroll">
            <div class="header__mobile-content">
                
                <div class="header__top">
                    <!--search-->
                    <div class="header__search search">
                        <form id="form" class="search__form">
                            <input class="search__input" type="search" title="Поиск">
                            <button class="search__butn" type="submit">
                                <svg class="icon-search"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search"></use></svg>
                            </button>
                        </form>
                    </div>
        
                    <!--buttons-->
                    <div class="header__right">
                        <button class="gray-butn" type="button">РЕКЛАМОДАТЕЛЯМ</button>
                        <button class="red-butn modal-trigger" type="button" data-target="subscribe-modal">ПОДПИСКА</button>
                    </div>
                </div>
    
                <nav class="header__nav">
                    <!--main nav-->
                    <div class="main-nav">
                        <ul class="main-nav__list">
                            <li class="main-nav__item">
                                <a href="about.html" class="main-nav__link">О журнале</a>
                            </li>
                            <li class="main-nav__item">
                                <a href="magazine-archive.html" class="main-nav__link">Архив журнала</a>
                            </li>
                            <li class="main-nav__item">
                                <a href="events.html" class="main-nav__link">Мероприятия журнала</a>
                            </li>
                            <li class="main-nav__item">
                                <a href="selling.html" class="main-nav__link">Реализация имущества</a>
                            </li>
                            <li class="main-nav__item">
                                <a href="vacancy.html" class="main-nav__link">Вакансии отрасли</a>
                            </li>
                            <li class="main-nav__item">
                                <a href="#" class="main-nav__link modal-trigger" data-target="request-modal">Задать вопрос</a>
                            </li>
                            <li class="main-nav__item">
                                <a href="contacts.html" class="main-nav__link">Контакты</a>
                            </li>
                        </ul>
                    </div>
    
                    <!--category nav-->
                    <div class="category-nav">
                        <ul class="category-nav__list">
                            <li class="category-nav__item">
                                <a href="#" class="category-nav__link">Интервью номера</a>
                            </li>
                            <li class="category-nav__item">
                                <a href="reform.html" class="category-nav__link current">Реформа</a>
                            </li>
                            <li class="category-nav__item">
                                <a href="#" class="category-nav__link">Сообщество</a>
                            </li>
                            <li class="category-nav__item">
                                <a href="article.html" class="category-nav__link">Господдержка</a>
                            </li>
                            <li class="category-nav__item">
                                <a href="#" class="category-nav__link">Анализ</a>
                            </li>
                            <li class="category-nav__item">
                                <a href="#" class="category-nav__link">Опыт</a>
                            </li>
                            <li class="category-nav__item">
                                <a href="#" class="category-nav__link">Маркетинг</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </nav>
    </div>
    <div class="header__mobile-close"></div>
    <button class="header__mobile-button" type="button">Menu</button>
</header>