<div class="main-banner">
    <div class="main-banner__content">
        <div class="main-banner__data">
            <div class="main-banner__data-hash"># РЕФОРМА</div>
            <time class="main-banner__data-date" datetime="2018-01-01 00:00:00">13 АПРЕЛЯ 2018</time>
        </div>
        <div class="main-banner__title">
            Дорожные машины получили льготу
        </div>
        <div class="main-banner__text">
            Согласно Постановлению Правительства Российской Федерации №518, каждый, кто оформляет лизинг на спецтехнику для коммунальной и дорожно-строительной деятельности, может рассчитывать на скидку от суммы авансового платежа.
        </div>
    </div>
    <picture>
      <source media="(max-width:680px)" srcset="images/main-banner-mob.jpg, images/main-banner-mob@2x.jpg 2x"/>
        <img src="images/main-banner.jpg" srcset="images/main-banner@2x.jpg 2x" alt=""/>
    </picture>
    <a href="#" class="main-banner__link">Дорожные машины получили льготу</a>
</div>