<div class="selling__item">
    <div class="selling__item-title">
        @@title
    </div>
    <figure class="selling__item-image">
        <img src="images/selling-item.jpg" srcset="images/selling-item@2x.jpg 2x" alt="" class="modal-trigger" data-target="gallery-modal"/>
        <figcaption class="selling__item-image-caption">8 фото</figcaption>
    </figure>
    <div class="selling__item-data">
        <div class="selling__item-data-item">100 000 р..</div>
        <div class="selling__item-data-item">Магнитогорск</div>
        <time class="selling__item-data-item" datetime="2018-01-01 00:00:00">
            13 Апреля / 19:00
        </time>
    </div>
    <div class="selling__item-contacts">
        <div class="selling__contacts-company">ООО Агентство недвижимости Простор</div>
        Телефон:
        <a href="tel:89259433293" class="call-to">8 925 943 32 93</a>
        / E-mail:
        <a href="mailto:hello@prostor-nasos.ru" class="mail-to">hello@prostor-nasos.ru</a>
    </div>
    <div class="selling__item-content">
        Консультирование клиентов по вопросам вложения крупных денежных средств в недвижимость. Составление сравнительного анализа инвестиций в различные объекты. Подбор объектов обычно процент удорожания указывается как средний процент удорожания.
        за год.Удорожанием в лизинговой сделке называется
    </div>
</div>

