<div class="sidebar-form">
    <form class="sidebar-form__holder" id="advertising-request">
        <div class="sidebar-form__title">Заявка <br/>на размещение рекламы</div>
        
        <div class="sidebar-form__content">
            <div class="input-line">
                <label class="input-label" for="sidebar-form-name">ФИО</label>
                <input class="text-input" id="sidebar-form-name" name="name" type="text" data-required="required">
            </div>
            <div class="input-line">
                <label class="input-label" for="sidebar-form-company">Компания</label>
                <input class="text-input" id="sidebar-form-company" name="company" type="text" data-required="required">
            </div>
            <div class="input-line">
                <label class="input-label" for="sidebar-form-tel">Телефон</label>
                <input class="text-input" id="sidebar-form-tel" name="tel" type="tel" placeholder="8 (_ _ _)- _ _ _-_ _-_ _" data-required="required">
            </div>
            <div class="input-line">
                <label class="input-label" for="sidebar-form-email">E-mail</label>
                <input class="text-input" id="sidebar-form-email" name="email" type="email" data-required="required">
            </div>
            <div class="input-line">
                <label class="input-label" for="sidebar-form-message">Форма для комментария</label>
                <textarea class="textarea-field" id="sidebar-form-message" name="message" data-required="required"></textarea>
            </div>
            <button class="red-butn" type="submit">ОТПРАВИТЬ</button>
        </div>
    </form>
</div>