<div class="event-preview">
    <a href="#" class="event-preview__all">
        Мероприятия журнала
    </a>
    
    <div class="event-preview__slider">
        <div class="event-preview__slide">
            <div class="event-preview__image">
                <img src="images/@@image" srcset="images/@@image2x 2x" alt=""/>
            </div>
    
            <div class="event-preview__content">
                <div class="event-preview__data">
                    @@if (dataHash === true) {
                    <div class="event-preview__data-hash">@@hash</div>
                    }
                    @@if (dataDate === true) {
                    <time class="event-preview__data-date" datetime="2018-01-01 00:00:00">13 АПРЕЛЯ 2018</time>
                    }
                </div>
                <div class="event-preview__title">@@title</div>
                <div class="event-preview__text">
                    Спикеры:
                    <br/>Александр Михайлов, Сергей Моисеев, Гарегин Тосунян, Татьяна
                    Савельева.
                </div>
            </div>
            <a href="#" class="event-preview__link">@@title</a>
        </div>
        <div class="event-preview__slide">
            <div class="event-preview__image">
                <img src="images/@@image" srcset="images/@@image2x 2x" alt=""/>
            </div>
    
            <div class="event-preview__content">
                <div class="event-preview__data">
                    @@if (dataHash === true) {
                    <div class="event-preview__data-hash">@@hash</div>
                    }
                    @@if (dataDate === true) {
                    <time class="event-preview__data-date" datetime="2018-01-01 00:00:00">13 АПРЕЛЯ 2018</time>
                    }
                </div>
                <div class="event-preview__title">@@title</div>
                <div class="event-preview__text">
                    Спикеры:
                    <br/>Александр Михайлов, Сергей Моисеев, Гарегин Тосунян, Татьяна
                    Савельева.
                </div>
            </div>
            <a href="#" class="event-preview__link">@@title</a>
        </div>
    </div>
</div>