<div class="subscribe-form">
    <div class="subscribe-form__label">Подписаться на новости:</div>
    <form id="subscribe-form" class="subscribe-form__holder">
        <input class="subscribe-form__input" name="email" type="email" placeholder="Ваш E-mail" data-required="required">
        
        <button class="subscribe-form__butn" type="submit">
            <svg class="icon-arrow-right"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use></svg>
        </button>
    </form>
</div>