<div class="vacancy__item">
    <div class="vacancy__item-title">
        <svg class="icon-user-2"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-user-2"></use></svg>
        @@title
    </div>
    <div class="vacancy__item-data">
        <div class="vacancy__item-data-item">100 000 р. - 150 000 р.</div>
        <div class="vacancy__item-data-item">Нижний Новгород</div>
        <time class="vacancy__item-data-item" datetime="2018-01-01 00:00:00"><mark>Актуальна до:</mark> 3 Апреля / 19:00</time>
    </div>
    <div class="vacancy__item-contacts">
        <div class="vacancy__contacts-company">ООО Агентство недвижимости Простор</div>
        Телефон:
        <a href="tel:89259433293" class="call-to">8 925 943 32 93</a>
        / E-mail:
        <a href="mailto:hello@prostor-nasos.ru" class="mail-to">hello@prostor-nasos.ru</a>
    </div>
    <div class="vacancy__item-content">
        Консультирование клиентов по вопросам вложения крупных денежных средств в недвижимость. Составление сравнительного анализа инвестиций в различные объекты. Подбор объектов обычно процент удорожания указывается как средний процент удорожания.
        за год.Удорожанием в лизинговой сделке называется
    </div>
</div>